

*{
}

.pic{
    padding-top: 90px;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

img{
    width: 70%;
    height: 70%;
    max-width: 400px;
    max-height: 400px;
    text-align: center;  
}

.social-media{
    float: right;
    position: relative;
    right: 20px;
    font-size: 30px;
    letter-spacing: 0px;
}

#creator{
    position: relative;
    text-align: left;
    font-size: 14px;
    width: 100px;
}

#privacy{
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 10px;
    letter-spacing: 0px;
}

@media only screen and (max-width: 500px) {
    .social-media{
        position: relative;
        right: 20px; 
        font-size: 30px;
        letter-spacing: 0px;
    }

    header{
        position: absolute;
        top: 0px;
    }

    img{
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: auto;
        height: 150px;
    }

    .none{
        display: none;
    }
 
    #joochan{
        position: static;
        top: 0px;
        text-align: center;
        font-size: 50px
    }

    .header{
        position: absolute;
        padding-top: 100px;
        text-align: center;
    }

    ul{
        padding-top: 30px
    }

    ul li{
        padding-top: 20px;
    }

    .hitem{
        padding-top: 30px;
}

    footer{
        position: absolute;
        bottom: 0;
        text-align: center;
    }
}